/* css styles */
.quarto-post .thumbnail {
  flex-basis: 50% !important; 
  max-width: 50% !important;
}

.quarto-post .thumbnail img {
  width: 100% !important;     
  height: auto !important;   
  max-height: none !important;
  object-fit: contain !important; 
  border-radius: 8px;
}